html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  height: 100%;
  overflow: auto; /* Allow scrolling */
  position: relative;
  background: url('../images/bg-1.jpg') no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed; /* Ensure it covers the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent overlay */
  backdrop-filter: blur(10px); /* Apply blur effect */
  z-index: -1; /* Ensure it is behind the content */
}

/* Ensure content is on top of the pseudo-element */
.auth-wrapper,
.auth-inner,
.form-container,
.App,
.main-layout,
.sidebar,
.side-navbar,
.nav,
.main-content,
.main-wrapper,
.ui-card,
.dashboard,
.hour-list,
.weather-data {
  position: relative;
  z-index: 1; /* Ensure content appears above the background */
}


 

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-inner {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.continue-p {
  font-size: 12px;
  color: #b2b2b2;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.loginpage{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}
/* Add these styles to your CSS file */
.cropper-popup, .upload-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Make sure it is above other content */
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


.registerpage{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}


/* Profile Container */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Profile Card */
.profile-card {
  margin-top: 20px;
  height: 100%; /* Ensure both cards have the same height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Profile Image */
.profile-img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Profile Details */
.profile-text-container {
  text-align: left;
  margin-top: 20px;
}

.last-name {
  margin-left: 5px; /* Adjust the value to get the desired spacing */
}

.profile-container p {
  font-size: 18px;
  color: rgba(255, 255, 255);
  margin: 10px 0;
}

.profile-container button {
  margin-top: 20px;
}


/* UI Card */
.ui-card {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  min-height: 210px;
  padding: 20px;
  text-align: left;
}

.ui-card .card-title {
  color: rgba(255, 255, 255, 0.8);
}



.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Topbar {
  width: 100%;
  padding: 30px 10px 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent; /* Make the background transparent */
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  left: 0;
  z-index: 1000; /* Ensure it is on top */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.Topbar.hide {
  transform: translateY(-100%); /* Hide the Topbar */
}

.Topbar.show {
  transform: translateY(0); /* Show the Topbar */
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; 
  margin-left: 50px; 
  margin-bottom: 50px;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 20px;
  justify-content: center;
  z-index: 5;
}


.dp-img-2{
width: auto;
height: auto;
display: flex;
justify-content: right;
}
.dp-img{
width: 60%;
max-width: 120px;
height: auto;
border-radius: 50%;
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}



.side-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure nav-item takes full width */
}

.nav .nav-link {
  color: #cdcdcd;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .nav-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.nav .nav-link.active,
.nav .nav-link.active .nav-icon {
  color: #fff;
}

.nav .nav-link:hover,
.nav .nav-link:hover .nav-icon {
  color: #fff;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 0px 20px;
}

.main-wrapper {
  margin-top: 150px;
  min-height: 100vh;
  position: relative;
  overflow-y: auto;
  
}

.main-wrapper .container {
  z-index: 1;
  position: relative;
}

.today-weather {
  color: #fff;
  text-align: center;
  padding: 24px 0px;
}

.today-weather h1 {
  font-size: 30px;
}

.today-weather h3 {
  font-size: 56px;
}

.ui-card {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  min-height: 210px;
}

.ui-card .card-title {
  color: rgba(255, 255, 255, 0.8);
}

.dashboard {
  grid-template-rows: 100%;
  gap: 24px 24px;
  grid-template-areas: ". .";
}

.hour-list .list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
}

.hour-list .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hour-list .list-group-item .deg i {
  margin-right: 12px;
}

.weather-data {
  text-align: center;
  color: #fff;
}

.weather-data .weather-icon {
  font-size: 64px;
}

.weather-data h4 {
  font-size: 32px;
}

/* For laptops and larger devices */
@media (max-width: 1200px) {
  .sidebar {
    max-height: 1000px; /* Adjust this value for laptops */
    margin-bottom: 50px;
  }
}

/* For tablets */
@media (max-width: 992px) {
  .Topbar {
    padding: 20px 20px 20px 40px;
    
  }

  .sidebar {
    margin: 0px 20px 0px 40px;
    margin-bottom: 50px;
    margin-top: 150px;
    padding: 10px;
    max-height: 810px; /* Adjust this value for tablets */
    
  }

  .main-content {
    
    padding: 0px 35px 190px 2px;
  }

  

}

/* For mobile devices */
@media (max-width: 768px) {
  .Topbar {
    padding: 20px 40px 20px 40px;
    
  }
  .dp-img-2{
    margin-bottom: 15px;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    max-height: 300px; /* Adjust this value for mobile devices */
  }

  .profile-container {
    padding: 10px;
  }

  .profile-container h3 {
    font-size: 20px;
  }

  .profile-container p {
    font-size: 16px;
  }

  .profile-container img {
    max-width: 150px;
  }

  .nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .nav .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Make sure nav-item does not take full width */
  }

  .nav .nav-link {
    padding: 10px;
    width: auto; /* Adjust nav-link width to auto */
  }

  .main-content {
    
    padding: 0px 2px 190px 2px;
    
  }
  .profile-n{
    margin-bottom: 20px;

  }

  

}



/* For smaller screens */
@media (max-width: 576px) {
  .Topbar {
    padding: 20px 10px 20px 40px;
    
  }
  .dp-img-2{
    margin-bottom: 15px;
  }


  .sidebar {
    margin: 0;
    padding: 10px;
    max-height: 200px; /* Adjust this value for smaller screens */
  }

  .nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .nav .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Make sure nav-item does not take full width */
  }

  .nav .nav-link {
    padding: 10px;
    width: auto; /* Adjust nav-link width to auto */
  }

  .main-content {
    padding: 0px 30px 190px 30px;
    
  }
  .profile-n{
    margin-bottom: 20px;

  }

  

}

@media (max-width: 480px) {
  .profile-container h3 {
    font-size: 18px;
  }

  .profile-container p {
    font-size: 14px;
  }

  .profile-container img {
    max-width: 100px;
  }
  .profile-n{
    margin-bottom: 20px;

  }
}
