:root {
  --main-bg-color: rgba(255, 255, 255, 0.2);
  --main-bg-blur: blur(10px);
  --btn-bg-color: #007bff;
  --btn-bg-hover-color: #0056b3;
  --font-color: rgba(255, 255, 255, 0.8);
  --overlay-color: rgba(255, 255, 255, 0.2);
  --z-index-bg: -1;
  --z-index-content: 1;
  --main-padding: 20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  height: 100%;
  overflow: auto; /* Allow scrolling */
  position: relative;
  background: url('../images/bg-1.jpg') no-repeat center center ;
  background-size: cover;

  backdrop-filter: blur(12px) !important; /* Semi-transparent overlay */
  background-attachment: scroll; /* Change from fixed to scroll */
  -webkit-background-size: cover; /* Ensure cover property is applied */
  z-index: -1; 
  -webkit-background-attachment: scroll; /* Ensure scroll attachment is applied */
}


body::before {
  content: "";
  position: fixed; /* Ensure it covers the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg-1.jpg') no-repeat center center !important;
  background-size: cover;
  background-attachment: scroll;
  -webkit-background-size: cover; 
  -webkit-background-attachment: scroll;
  background: rgba(102, 102, 102, 0.1) !important; 
  
 
}


/* HTML: <div class="loader"></div> */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #3d3d3d;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#252525 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}

@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% calc(100% - 16px);
  }
}

@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}




/* login page */


.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #ececec;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.loginpage{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}



.Sign-up {
  text-align: right;
  font-size: 20px;
  padding-top: 10px;
  color: #ececec;
  margin: 0;
}

.Sign-up a {
  
  color: #ffffff;
}
.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #ececec;
  margin: 0;
}

.forgot-password a {
  color: #ececec;
}

.forgot-password-page {
  align-content: center;
  max-width: 500px;
  height: auto;
  height: 500px;
  margin: 0 auto;
  border-radius: 10% !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}


.forgot-password-page h3 {
  margin-bottom: 20px;
}

.forgot-password-page .form-control {
  margin-bottom: 10px;
  border: auto;
  border-radius: 12px;
  color: #000000;
}


/* login page */

.login-password-page {
  align-content: center;
  max-width: 500px;
  height: auto;
  height: 500px;
  margin: 0 auto;
  border-radius: 10% !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.Sign-Up-password-page {
  align-content: center;
  max-width: 500px;
  height: auto;
  height: 500px;
  margin: 0 auto ;
  
  padding: 0px 30px 0px 30px !important;
  border-radius: 10% !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.profile-page {
  align-content: center;
  max-width: 500px;
  height: auto;
  height: 500px;
  margin: 0 auto ;
  
  padding: 0px 30px 0px 30px !important;
  border-radius: 10% !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.edit-profile-page{
  align-content: center;
  max-width: 500px;
  height: auto;
  height: 500px;
  margin: 0 auto ;
  
  padding: 0px 30px 0px 30px !important;
  border-radius: 10% !important;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

input::placeholder {
  color: #888; /* Change this to your desired placeholder color */
}

/* Ensure content is on top of the pseudo-element */
.auth-wrapper,
.auth-inner,
.form-container,
.App,
.main-layout,
.usersidebar,
.side-navbar,
.nav,
.main-content,
.main-wrapper,
.ui-card,
.dashboard,
.hour-list,
.weather-data {
  position: relative;
  z-index: 1; /* Ensure content appears above the background */
}



/* Dashboard */

.dashboard {
  grid-template-rows: 100%;
  gap: 24px 24px;
  grid-template-areas: ". .";
}






.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-inner {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #8ab9f7;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}

.continue-p {
  font-size: 12px;
  color: #b2b2b2;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}



h3 {
  text-align: center;
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}




/* Add or adjust styles in your CSS */
.cropper-popup,
.upload-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 9999; /* Ensure it appears above other elements */
}


.registerpage{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}





.text-center {
  text-align: center;
}

.btn {
  margin-top: 10px;
}








/* Profile Details */
.profile-text-container {
  text-align: left;
  margin-top: 20px;
}

.last-name {
  margin-left: 5px; /* Adjust the value to get the desired spacing */
}

.profile-container p {
  font-size: 18px;
  color: rgba(255, 255, 255);
  margin: 10px 0;
}


.profile-cd {
 margin-left: auto;
 margin-right: auto;
  
}

.profile-n {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
 
}

.profile-container button {
  margin-top: 20px;
}



.profile-details {
 
  /* Adjust width as needed */
}


/* UI Card */
.ui-card {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  min-height: 210px;
  padding: 20px;
  text-align: left;
}

.ui-card .card-title {
  color: rgba(255, 255, 255);
}



.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Topbar {
  width: 100%;
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent; /* Make the background transparent */
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  left: 0;
  z-index: 1000; /* Ensure it is on top */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.Topbar.hide {
  transform: translateY(-100%); /* Hide the Topbar */
}

.Topbar.show {
  transform: translateY(0); /* Show the Topbar */
}





.profile-cd{
  overflow: hidden;
}

.dp-img-2 {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.dp-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}



.side-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure nav-item takes full width */
}

.nav .nav-link {
  color: #cdcdcd;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .nav-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.nav .nav-link.active,
.nav .nav-link.active .nav-icon {
  color: #fff;
}

.nav .nav-link:hover,
.nav .nav-link:hover .nav-icon {
  color: #fff;
}

.main-content {
  
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  padding: 0px 20px;
}

.main-wrapper {
  margin-top: 100px;
  min-height: 100vh;
  position: relative;
 
 
  
}

.main-wrapper .container {
  z-index: 1;
  position: relative;
}

.today-weather {
  color: #fff;
  text-align: center;
  padding: 24px 0px;
}

.today-weather h1 {
  font-size: 30px;
}

.today-weather h3 {
  font-size: 56px;
}

.ui-card {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  min-height: 210px;
}

.ui-card .card-title {
  color: rgba(255, 255, 255);
}



.hour-list .list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
}

.hour-list .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hour-list .list-group-item .deg i {
  margin-right: 12px;
}

.weather-data {
  text-align: center;
  color: #fff;
}

.weather-data .weather-icon {
  font-size: 64px;
}

.weather-data h4 {
  font-size: 32px;
}



/* Profile card image */
.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: var(--main-padding);
}

.profile-card {
  width: 100%;
  
  background: var(--main-bg-color);
  border-radius: 24px;
  
  backdrop-filter: var(--main-bg-blur);
  padding: 10px;
  margin: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: var(--btn-bg-color);
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: var(--btn-bg-hover-color);
}

.profile-img{
  width: 100px;
  height: auto;
}







/* For laptops and larger devices */
@media (min-width: 1200px) {
  .usersidebar {
    display: flex;
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    padding: 20px;
    margin-left: 50px; 
    margin-bottom: 20px;
    margin-top: 100px;
    max-height: 550px;
    justify-content: center;
    z-index: 5;
  }

  
}
@media (max-width: 1200px) {
  .usersidebar {
    display: flex;
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    padding: 20px;
    margin-left: 50px; 
    margin-bottom: 20px;
    margin-top: 100px;
    max-height: 550px;
    justify-content: center;
    z-index: 5;
  }
  .usersidebar {
    
    margin-bottom: 50px;
  }


 
}

/* For tablets */
@media (max-width: 992px) {
  .Topbar {
    padding: 20px 20px 20px 40px;
    
  }

  /* Profile Image */
.profile-img {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

 

  .main-content {
    
    padding: 0px 35px 190px 2px;
  }

  

}

@media (min-width: 768px) {
 
  .profile-card .card-body .profile-image {
    margin-right: 20px;
  }
  
  .profile-card .card-body form {
    flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  
  .mb-last{
    margin-bottom: 150px;
  }

  .Topbar {
    padding: 20px 40px 20px 40px;
    
  }
  .dp-img-2{
    margin-bottom: 15px;
    padding-right: 10px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }


  .profile-card .card-body {
    display: block;
  }
  
  .profile-card .card-body .profile-image {
    margin-bottom: 20px;
  }

  .profile-n, .profile-details {
    width: 100%;
    color: #ffffff;
  }

  .form-control {
    width: 100%;
    border: auto;
    border-radius: 12px;
    color: #000000;
  }
  

/* Cropper popup */
.cropper-popup {
  margin-top: 20px;
}

.upload-popup {
  margin-top: 20px;
  text-align: center;
}

.upload-popup img {
  max-width: 100%;
  height: auto;
}
  

  .profile-card {
    margin: 10px;
  }

  .cropper-popup, .upload-popup {
    width: 90%;
    height: auto;
  }

  .usersidebar {
    background-color: rgba(97, 97, 97, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    max-height: 300px; /* Adjust this value for mobile devices */
  }

  .profile-container {
    padding: 10px;
  }

  .profile-container h3 {
    font-size: 20px;
  }

  .profile-container p {
    font-size: 16px;
  }

  .profile-container img {
    max-width: 150px;
  }

  .nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .nav .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Make sure nav-item does not take full width */
  }

  .nav .nav-link {
    padding: 10px;
    width: auto; /* Adjust nav-link width to auto */
  }

  .main-content {
    
    padding: 0px 2px 190px 2px;
    
  }
  .profile-n{
    margin-bottom: 20px;
    color: #ffffff;

  }

  

}



/* For smaller screens */
@media (max-width: 576px) {

  .mb-last{
    margin-bottom: 150px;
  }

  .Topbar {
    padding: 20px 10px 20px 20px;
    
  }
  .dp-img-2{
    margin-bottom: 15px;
  }

  .profile-card {
    margin: 5px;
  }

  .cropper-popup, .upload-popup {
    width: 90%;
    height: auto;
  }

  /* forgot password */

  .forgot-password-page {
    align-content: center;
    max-width: 340px;
    height: auto;
    height: 350px;
    margin: 80px auto;
    border-radius: 10% !important;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 2px 20px 2px 20px !important;
  }

  .login-password-page {
    align-content: center;
    max-width: 98%;
    height: auto;
    height: 500px;
    margin: 0px auto;
    border-radius: 8% !important;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 2px 20px 2px 20px !important;
  }
  .Sign-Up-password-page {
    align-content: center;
    max-width: 98%;
    height: auto;
    height: 500px;
    margin: 0px auto;
    border-radius: 8% !important;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 2px 20px 2px 20px !important;
  }
  .profile-page{
    align-content: center;
    max-width: 90%;
    height: auto;
    height: 500px;
    margin: 0px auto;
    border-radius: 8% !important;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 2px 20px 2px 20px !important;
  }
  .edit-profile-page{
    align-content: center;
    max-width: 90%;
    height: auto;
    height: 500px;
    margin: 0px auto;
    border-radius: 8% !important;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 2px 20px 2px 20px !important;
  }
 

  .usersidebar {
    background-color: rgba(97, 97, 97, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    max-height: 300px; /* Adjust this value for mobile devices */
  }

  .nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .nav .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Make sure nav-item does not take full width */
  }

  .nav .nav-link {
    padding: 10px;
    width: auto; /* Adjust nav-link width to auto */
  }

  .main-content {
    padding: 0px 0px 190px 0px;
    
  }
  .profile-n{
    margin-bottom: 20px;
    color: #ffffff;

  }

  .mb-last-profile{
    margin-bottom: 150px;
  }

}

@media (max-width: 480px) {
  .upload-input{
    width: 92%;
  }
  
  
  .usersidebar {
    background-color: rgba(97, 97, 97, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    max-height: 300px; /* Adjust this value for mobile devices */
  }

  .profile-container h3 {
    font-size: 18px;
  }

  .profile-container p {
    font-size: 14px;
  }

  .profile-container img {
    max-width: 100px;
  }
  .profile-n{
    margin-bottom: 20px;

  }
}





